Urgent:
  Use Ajax for homepage click. And also Ajax for the click 'kanduo'. If user not regitered, then show the part of register. But not redirect_to a new page.
  Register just one line, maybe shown on the homepage. Like ghost.org
  
  king of most win and king of lianzhong
  mobile see short award text and short button
TODO:
  Domain for user homepage.
  Asset Pipline not used now.
  rails generate migration AddVoteCountsToUsers all_kill:integer month_correct:integer
  Guess A/D count.
  Selected Setting in top menu is a bug when selected award or about.
  
Cron jobs:
5 15 * * * /bin/bash -l -c 'cd /root/duokong && RAILS_ENV=production bin/rails runner '\''Index.auto_generate'\'' >> log/cron_job.log 2>&1'

Report bug:
RAILS_ENV=production rails console
is Different from 
rails console -e produciton




mp weixin : zj1632 dapan8







http://www.jiawei.com/cn/ sina API show a stock preview.


upgrade:
update users set all_kill = 0 where all_kill is null;


