= title '多空网 － 专注大盘竞猜'
- if logged?
  = link_to t('logout'), logout_path
- else
  = link_to t('login'), login_path
  | &nbsp;#{link_to '注册', new_user_path}
| &nbsp;
= notice_info
h1
  | 多空网 － 专注大盘竞猜
- if logged?
  | 你好，#{session[:nick_name]}。
br
= vote_box
br
br
| 共#{@advance_count + @decline_count + @flat_count}名股友参与#{date_and_week_name(get_target_date)}大盘的投票，
br
| 看涨 #{@advance_count} 人
br
| 看跌 #{@decline_count} 人
br
| 看平 #{@flat_count} 人
br
br
h2
  | 竞猜奖品
| * 5连中可加获小米移动电源一只（可冲任意手机）
br
| * 6连中可加获金士顿天猫旗舰店正版32G USB3.0 U盘一只，价值200元
br
| * 8连中可加获东方财富通level2收费版1年使用权（含核心内参），价值1253元
br
| * 10连中可加获红米手机一部
br
| * 12连中加获小米3手机一部
br
| 说明：注册用户在2014年9月31日前开始了第一天的竞猜即为有效，
br
| 高手榜
br
| 5连中
= link_to '张三', '#'
br
| 4连中
= link_to '李四', '#'




