doctype html
html
  head
    meta charset='utf-8'
    meta http-equiv='X-UA-Compatible' content='IE=edge'
    meta name='viewport' content='width=device-width, initial-scale=1'
    meta name='description' content=''
    meta name='author' content=''

    title = yield :title

    = stylesheet_link_tag 'portal', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    /[if lt IE 9]
      script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'
      script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'
  
  body
    .container
      .header
        ul class='nav nav-pills pull-right' role='tablist'
          li role='presentation' class="#{controller_path == 'home' ? 'active' : nil}"
            = link_to t('site.name'), root_path
          - if logged?
            li role='presentation' = link_to "#{t'user.home'}", "#{@user.id}"
            li role='presentation' class="dropdown#{controller_path == 'users' ? ' active' : nil}"
              = link_to t('settings'), '#', {class: 'dropdown-toggle', 'data-toggle'.to_sym => 'dropdown', 'aria-expanded'.to_sym => 'false'}
              ul class='dropdown-menu' role='menu'
                li = link_to t('user.info'), profile_path
                li = link_to t('user.password'), set_p_path
                li = link_to t('logout'), logout_path
          - else
            li role='presentation' class="#{controller_path == 'login' ? 'active' : nil}"
              = link_to t('_login'), login_path
        	  li role='presentation' class="#{controller_path == 'users' and controller.action_name == 'new' ? 'active' :  nil}" = link_to t('register'), register_path
        h3 class='text-muted'
          = link_to (mobile? ? '奖品' : '猜大盘赢手机'), award_path
      = yield
      
      .footer
        p &copy; #{t'site.name'} 2014 &nbsp;| &nbsp;#{link_to t('site.faq'), faq_path} &nbsp;| &nbsp;#{link_to t('site.scope'), about_path}